$mainColor: #A4EEEB;
$bgColor: #1a2127;
$borderColor: #FF6600;
$titleColor: #f5a623;

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: verdana;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

main {
    flex: 1 1 auto;
}

@import "../scss/header";

@import "../scss/footer";

@import "../scss/guess";

@import "../scss/www";

@import "../scss/blind";

@import "../scss/roulette";

@import "../scss/index";

@import "../scss/dao";

@import "../scss/pdd";

@import "../scss/vrubel";

@import "../scss/freud";

@import "../scss/quote";

@import "../scss/currency";

@import "../scss/array";

@import "../scss/wordle";