* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: verdana;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header {
  width: 100%;
  background: #A4EEEB;
  padding: 10px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100px auto 100px;
      grid-template-columns: 100px auto 100px;
  -ms-flex-line-pack: center;
      align-content: center;
}

.header a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__box {
  margin: 0 auto;
  max-width: 900px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__form {
  position: relative;
}

.header input {
  display: none;
}

.header label {
  font-size: 22px;
  text-transform: uppercase;
  cursor: pointer;
}

.header__menu {
  display: none;
  width: 140px;
  position: absolute;
  z-index: 10;
  top: 36px;
  left: -26px;
  padding: 0 20px 20px 16px;
}

.header__menu a {
  display: block;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  margin-top: 16px;
}

.header__menu a:hover {
  text-decoration: underline;
}

.header #html-btn:checked ~ .header__menu,
.header #css-btn:checked ~ .header__menu,
.header #js-btn:checked ~ .header__menu,
.header #games-btn:checked ~ .header__menu {
  display: block;
}

.header .html {
  background: #BB5309;
}

.header .css {
  background: #1E75CB;
}

.header .js {
  background: #D1C512;
}

.header .games {
  background: #42B745;
}

.mobile-btn {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

@media (max-width: 475px) {
  .mobile-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 32px;
    height: 32px;
    -ms-flex-item-align: start;
        align-self: start;
    justify-self: center;
    margin-top: 18px;
  }
  .mobile-btn div {
    height: 4px;
    width: 100%;
    background: #000;
    position: relative;
  }
  .mobile-btn div::before, .mobile-btn div::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background: #000;
  }
  .mobile-btn div::before {
    top: -8px;
  }
  .mobile-btn div::after {
    top: 8px;
  }
  .header__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 0;
    visibility: hidden;
  }
  .header__form {
    margin-top: 18px;
  }
  #mobile:checked ~ .header__box {
    height: auto;
    visibility: visible;
  }
  #mobile:checked ~ .mobile-btn > div::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 0;
  }
  #mobile:checked ~ .mobile-btn > div {
    background: transparent;
  }
  #mobile:checked ~ .mobile-btn > div::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 0;
  }
  .header__menu {
    left: -50px;
    top: 30px;
  }
}

.footer {
  background: #000;
  width: 100%;
  text-align: center;
}

.footer p {
  color: #fff;
  padding: 24px 0;
}

.guess {
  margin: 200px auto;
  max-width: 800px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.guess h1 {
  font-size: 30px;
}

.guess p {
  margin-top: 16px;
}

.guess input {
  margin: 60px auto 0;
  max-width: 120px;
  width: 100%;
  text-align: center;
  outline: none;
  background: #F2F6F6;
  border: none;
  min-height: 30px;
  border-bottom: 1px solid #000;
}

.guess input:focus {
  outline: 1px solid #A4EEEB;
  border: none;
  background: #fff;
}

.guess button {
  max-width: 100px;
  width: 100%;
  margin: 40px auto 0;
  border: none;
  background: #A4EEEB;
  padding: 8px 22px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
}

.guess a {
  text-decoration: none;
  margin: 40px auto;
  max-width: 100px;
  width: 100%;
  padding: 8px 22px;
  background: #42B745;
  color: #000;
}

.www {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 800px;
  margin: 90px auto;
  text-align: center;
}

.www h1 {
  font-size: 30px;
}

.www__img-box {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.www__img-box img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.www p {
  margin-top: 32px;
}

.www input {
  margin: 24px auto 0;
  max-width: 180px;
  width: 100%;
  min-height: 30px;
  border: none;
  background: #F2F6F6;
  border-bottom: 1px solid black;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 12px;
}

.www input:focus {
  background: #fff;
  border: none;
  outline: 1px solid #A4EEEB;
}

.www button {
  max-width: 100px;
  width: 100%;
  margin: 40px auto 0;
  border: none;
  background: #A4EEEB;
  padding: 8px 22px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
}

.www a {
  text-decoration: none;
  margin: 40px auto 0;
  max-width: 100px;
  width: 100%;
  padding: 8px 22px;
  background: #42B745;
  color: #000;
}

.blind {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 800px;
  margin: 90px auto;
  text-align: center;
}

.blind h1 {
  font-size: 30px;
  margin: 32px 0;
}

.blind p {
  margin: 18px 0;
}

.blind #text {
  font-size: 20px;
}

.blind input {
  margin: 24px auto 0;
  max-width: 180px;
  width: 100%;
  min-height: 30px;
  border: none;
  background: #F2F6F6;
  border-bottom: 1px solid black;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 12px;
}

.blind input:focus {
  background: #fff;
  border: none;
  outline: 1px solid #A4EEEB;
}

.blind button {
  max-width: 100px;
  width: 100%;
  margin: 40px auto 0;
  border: none;
  background: #A4EEEB;
  padding: 8px 22px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
}

.blind a {
  text-decoration: none;
  margin: 40px auto 0;
  max-width: 100px;
  width: 100%;
  padding: 8px 22px;
  background: #42B745;
  color: #000;
}

.roulette {
  max-width: 900px;
  width: 100%;
  margin: 90px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.roulette h1 {
  font-size: 30px;
}

.roulette__img {
  margin-top: 40px;
}

.roulette__img img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.roulette p {
  text-align: center;
  margin-top: 46px;
}

.roulette input {
  margin: 24px auto 0;
  max-width: 120px;
  width: 100%;
  min-height: 30px;
  border: none;
  background: #F2F6F6;
  border-bottom: 1px solid black;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 12px;
  text-align: center;
}

.roulette input:focus {
  background: #fff;
  border: none;
  outline: 1px solid #A4EEEB;
}

.roulette button {
  max-width: 100px;
  width: 100%;
  margin: 40px auto 0;
  border: none;
  background: #A4EEEB;
  padding: 8px 22px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
}

.roulette a {
  text-decoration: none;
  margin: 40px auto 0;
  padding: 8px 22px;
  background: #42B745;
  color: #fff;
}

.roulette .balance {
  margin-top: 40px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.roulette .balance p {
  margin: 0 0 0 18px;
  font-size: 20px;
}

.roulette__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.roulette #numberBox,
.roulette #colorBox {
  display: none;
}

.main-slider {
  width: 100%;
  min-height: 500px;
  position: relative;
}

.main-slider__box {
  width: 100%;
  min-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #1a2127;
}

.main-slider__box img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.main-slider__left {
  width: 60%;
  padding: 30px 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 80% 20%;
      grid-template-rows: 80% 20%;
}

.main-slider__left p {
  text-indent: 36px;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.main-slider__left h4 {
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #f5a623;
}

.main-slider__photo {
  width: 40%;
}

.main-slider__photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.main-slider a {
  position: absolute;
  top: 50%;
  margin-top: -40px;
  color: #fff;
  padding: 8px;
  text-decoration: none;
  font-size: 30px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  border-radius: 0 6px 6px 0;
}

.main-slider a:hover {
  background: #fff;
  color: #000;
}

.main-slider .next {
  right: 0;
  border-radius: 6px 0 0 6px;
}

.content {
  max-width: 1200px;
  width: 100%;
  margin: 72px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 22px;
}

.content a {
  text-decoration: none;
  border: 1px solid #ccc;
  padding-bottom: 12px;
}

.content a:hover {
  text-decoration: underline;
}

.content a img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.content a h3 {
  margin-top: 8px;
  color: #599bd9;
  padding-left: 16px;
}

.content a p {
  color: #000;
  padding-left: 16px;
  margin-top: 4px;
}

@media (max-width: 768px) {
  .main-slider__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-slider__left {
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding: 12px 22px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-slider__left h4 {
    display: none;
  }
  .main-slider__photo {
    width: 100%;
  }
  .main-slider a {
    font-size: 20px;
    padding: 4px;
  }
  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content__link {
    max-width: 330px;
    width: 100%;
  }
}

.dao {
  max-width: 900px;
  width: 100%;
  margin: 90px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 48px 54px;
  background: #fff;
}

.dao h1 {
  font-size: 30px;
}

.dao__img {
  margin-top: 40px;
}

.dao__img img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.dao fieldset {
  margin-top: 54px;
  border: 1px solid black;
  padding: 16px 22px;
  max-width: 800px;
  width: 100%;
}

.dao fieldset legend {
  font-style: italic;
  margin-left: 18px;
  padding: 0 8px;
}

.slider {
  width: 100%;
  margin: auto;
  height: 600px;
  position: relative;
  background: #111;
}

.slider__item {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  text-align: center;
}

.slider__item img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.slider__item p {
  margin-top: 8px;
}

.slider__item span {
  margin-left: 12px;
  color: #B3AEA2;
  font-style: italic;
}

.slider a {
  position: absolute;
  top: 50%;
  margin-top: -44px;
  font-size: 26px;
  padding: 12px;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  -webkit-transform: 0.6s ease;
          transform: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.slider a:hover {
  background: #ccc;
  color: #000;
}

.slider .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.vrubel {
  max-width: 1200px;
  width: 100%;
  margin: 130px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #1a2127;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 48px 54px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #FF6600;
}

.vrubel h1 {
  font-size: 30px;
  color: #f5a623;
}

.vrubel__img {
  margin-top: 40px;
}

.vrubel__img img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.vrubel__description {
  margin-top: 56px;
}

.vrubel__description p {
  text-indent: 36px;
  margin-top: 12px;
  color: #fff;
}

.vrubel__description p span {
  cursor: pointer;
  font-size: 18px;
  color: #6A3CE7;
}

.vrubel__description p span:hover {
  text-decoration: underline;
}

.vrubel .modal {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background: #111;
  width: 100%;
  height: 100%;
}

.vrubel .modal img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.vrubel .modal span {
  color: #fff;
  font-size: 54px;
  position: absolute;
  top: 10px;
  right: 26px;
  cursor: pointer;
}

.freud {
  max-width: 1200px;
  width: 100%;
  margin: 90px auto;
  padding: 48px 54px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #1a2127;
  border: 1px solid #FF6600;
}

.freud h1 {
  font-size: 30px;
  color: #f5a623;
}

.freud__img {
  margin-top: 40px;
}

.freud__img img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.freud__description {
  margin-top: 56px;
}

.freud__description p {
  margin-top: 12px;
  text-indent: 36px;
  color: #fff;
}

.quote {
  max-width: 1500px;
  width: 100%;
  margin: 90px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 36px;
}

.quote__item {
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #1a2127;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.quote__item h4 {
  color: #f5a623;
  margin-top: 22px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.quote__item p {
  color: #fff;
  text-indent: 36px;
}

.currency {
  max-width: 700px;
  width: 100%;
  margin: 90px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.currency h1 {
  font-size: 30px;
}

.currency p {
  margin-top: 40px;
  text-align: center;
}

.currency #textCurrency,
.currency #userCurrency,
.currency #btnCurrency {
  display: none;
}

.currency input {
  margin-top: 38px;
  max-width: 140px;
  width: 100%;
  height: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  outline: none;
  border-bottom: 1px solid #000;
  background: #F2F6F6;
  padding-left: 12px;
}

.currency input:focus {
  background: transparent;
  border: none;
  outline: 1px solid #A4EEEB;
}

.currency img {
  margin-top: 22px;
  -webkit-transition: .6s;
  transition: .6s;
  cursor: pointer;
}

.currency img:hover {
  background: #A4EEEB;
}

.currency select {
  margin-top: 22px;
  max-width: 140px;
  width: 100%;
  height: 30px;
  border: 1px solid #FF6600;
}

.currency button {
  margin-top: 70px;
  background: #A4EEEB;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px 22px;
  border: none;
  border-radius: 8px;
}

.array {
  max-width: 1200px;
  width: 100%;
  margin: 90px auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.array h1 {
  font-size: 30px;
  text-align: center;
  padding-top: 48px;
}

.array__method {
  margin-top: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 48px 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #1a2127;
}

.array__method p {
  color: #fff;
}

.array__method p span {
  color: #f5a623;
}

.array__method .description {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 28px 0;
}

.array__method .description__text {
  background: #F2F6F6;
  color: #000;
  padding: 4px 12px;
}

.array__method .description__block {
  margin-top: 12px;
}

.array__method .description__block p {
  margin-top: 8px;
}

.array__method h4 {
  margin-bottom: 10px;
  color: #599bd9;
}

.array__method .example {
  margin-top: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.array__method .example img {
  margin: 20px 0;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.array__method .example__text span {
  background: #F2F6F6;
  color: #000;
  padding: 4px;
}

.wordle {
  max-width: 1200px;
  width: 100%;
  margin: 90px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wordle h1 {
  font-size: 30px;
  margin-bottom: 40px;
}

.wordle__word {
  margin-top: 22px;
}

.wordle__word input {
  max-width: 50px;
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: 24px;
}

.wordle button {
  background: #A4EEEB;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 22px;
  border-radius: 8px;
  margin-top: 40px;
  cursor: pointer;
}

.wordle a {
  text-decoration: none;
  margin: 40px auto 0;
  padding: 8px 22px;
  background: #42B745;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */