.roulette {
    max-width: 900px;
    width: 100%;
    margin:  90px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    & h1 {
        font-size: 30px;
    }

    &__img {
        margin-top: 40px;

        & img {
            width: 100%;
            object-fit: contain;
        }
    }

    & p {
        text-align: center;
        margin-top: 46px;
    }

    & input {
        margin: 24px auto 0;
        max-width: 120px;
        width: 100%;
        min-height: 30px;
        border: none;
        background: #F2F6F6;
        border-bottom: 1px solid black;
        outline: none;
        box-sizing: border-box;
        padding-left: 12px;
        text-align: center;

        &:focus {
            background: #fff;
            border: none;
            outline: 1px solid $mainColor;
        }
    }

    & button {
        max-width: 100px;
        width: 100%;
        margin: 40px auto 0;
        border: none;
        background: $mainColor;
        padding: 8px 22px;
        box-sizing: border-box;
        border-radius: 8px;
        cursor: pointer;
    }

    & a {
        text-decoration: none;
        margin: 40px auto 0;
        padding: 8px 22px;
        background: #42B745;
        color: #fff;

    }

    .balance {
        margin-top: 40px;
        align-self: flex-start;
        display: flex;
        align-items: center;

        & p {
            margin: 0 0 0 18px;
            font-size: 20px;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    
    #numberBox,
    #colorBox {
        display: none;
    }

    @mixin center {
        display: flex;
        flex-direction: center;
        align-items: center;
    }
}