.header {
    width: 100%;
    background: $mainColor;
    padding: 10px 0;
    display: grid;
    grid-template-columns: 100px auto 100px;
    align-content: center;

    & a {
        display: flex;
        justify-content: center;
    }


    &__box {
        margin: 0 auto;
        max-width: 900px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        align-items: center;
    }

    &__form {
        position: relative;
    }

    & input {
        display: none;
    }

    & label {
        font-size: 22px;
        text-transform: uppercase;
        cursor: pointer;
    }

    &__menu {
        display: none;
        width: 140px;
        position: absolute;
        z-index: 10;
        top: 36px;
        left: -26px;
        padding: 0 20px 20px 16px;

        & a {
            display: block;
            text-decoration: none;
            font-size: 18px;
            color: #fff;
            margin-top: 16px;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    #html-btn:checked ~ .header__menu,
    #css-btn:checked ~ .header__menu,
    #js-btn:checked ~ .header__menu,
    #games-btn:checked ~ .header__menu {
        display: block;
    }

    .html {
        background: #BB5309;
    }

    .css {
        background: #1E75CB;
    }

    .js {
        background: #D1C512;
    }

    .games {
        background: #42B745;
    }
}